<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment>設定画面で管理するプロパティ</comment>
<entry key="inputIsSelected">true</entry>
<entry key="tableCellHeight">50</entry>
<entry key="tableViewFontSize">9</entry>
<entry key="autoBackup">true</entry>
<entry key="autoInput">true</entry>
<entry key="projectPath">C:\RPG\RebelliousFantasy</entry>
<entry key="inputPath"/>
<entry key="projectIsSelected">false</entry>
</properties>
