/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.root {
	-fx-font-size: 10.0pt;
	-fx-font-family: "Meiryo";
}

.titled-pane .title {
	-fx-font-weight: bold;
}

.table-view .text,
.tool-bar .text {
	-fx-font-size: 9.0pt;
}

.table-cell:filled:hover,
.list-view .list-cell:filled:hover,
.tree-view .tree-cell:filled:hover {
    -fx-background-color: -fx-cell-focus-inner-border, -fx-selection-bar  ;
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-background: -fx-selection-bar ;
}

.text-area {
	-fx-font-family: "Monospace";
}

#leftSkillTableView {
	-fx-padding: 0 0 15 0;
}

/**
 * 左側テーブルビューの水平スクロールバーを非表示にする。
 */
#leftSkillTableView .scroll-bar:horizontal .increment-arrow,
#leftSkillTableView .scroll-bar:horizontal .decrement-arrow,
#leftSkillTableView .scroll-bar:horizontal .increment-button,
#leftSkillTableView .scroll-bar:horizontal .decrement-button {
    -fx-padding:0.0;
}

/**
 * 右側テーブルビューの水平スクロールバーを非表示にする。
 */
#skillTableView .scroll-bar:horizontal .increment-arrow,
#skillTableView .scroll-bar:horizontal .decrement-arrow,
#skillTableView .scroll-bar:horizontal .increment-button,
#skillTableView .scroll-bar:horizontal .decrement-button {
    -fx-padding:4.0;
}

/**
 * ツールバーのボタンの背景色を透明にする。
 */
#topToolBar .button {
	-fx-background-color:transparent;
}

/**
 * ツールバーのボタンをロールオーバー中に背景色を変更し、影を落とす。
 */
#topToolBar .button:hover {
    -fx-background-color:#dae7f3;
    -fx-effect: dropshadow( three-pass-box , rgba(0.0,0.0,0.0,0.4) , 5.0, 0.0 , 0.0 , 1.0 );
}

/**
 * ツールバーのボタンをクリック時に内側に影を落とす。
 */
#topToolBar .button:pressed {
    -fx-effect: innershadow( three-pass-box , dimgrey, 5.0, 0.0 , 0.0 , 1.0 );
}